#notification-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    height: 60px;
    padding: 0;
    line-height: 60px;
}