<h1 class="page-header">Active auctions</h1>

<div ng-show="!auctions.length" class="text-muted" style="margin-top: 60px; text-align: center;">
    <span class="glyphicon glyphicon-time" style="margin-right: 5px;"></span>
    <span>No active auctions. May be start one? ;)</span>
</div>

<div class="table-responsive" ng-show="auctions.length">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Condition</th>
            <th>Owner</th>
            <th>Time left</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="auction in auctions">
            <td>{{auction.lot.auctionId}}</td>
            <td><span class="text-muted">{{auction.lot.productInfo.manufacturer}}</span> <span>{{auction.lot.productInfo.model}}</span></td>
            <td>{{conditions[auction.lot.condition]}}</td>
            <td>{{auction.lot.ownerId}}</td>
            <td><span remaining-time="auction.remainingTime"></span></td>
            <td>{{auction.price}} $</td>
            <td><a ng-click="joinAuction(auction.lot.auctionId)" style="cursor: pointer">Join</a></td>
        </tr>
        </tbody>
    </table>
</div>