<div ng-hide="loaded">Loading...</div>

<div ng-hide="!loaded">
    <div class="page-header" style="height: 60px; line-height: 60px;">
        <h2 style="display: inline">{{lot.productInfo.manufacturer}} {{lot.productInfo.model}}</h2>
        <i style="margin-left: 15px;">Condition:</i>
        <span>{{conditions[lot.condition]}}</span>
        <i style="margin-left: 15px;">Owner:</i>
        <span>{{lot.ownerId}}</span>
    </div>


    <div style="margin-top: 30px;" class="row">
        <div class="col-md-6">
            <h3>Current price: {{currentPrice}} $</h3>

            <table class="table" ng-show="bids.length">
                <thead>
                <tr>
                    <th>Bidder</th>
                    <th>Amount</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="bid in bids">
                    <td>{{bid.bidder}}</td>
                    <td>{{bid.amount}} $</td>
                </tr>
                </tbody>
            </table>

            <div ng-show="!bids.length" class="text-muted" style="margin-top: 60px; text-align: center;">
                <span class="glyphicon glyphicon-time" style="margin-right: 5px;"></span>
                <span>No bids at this moment</span>
            </div>

        </div>

        <div class="col-md-6">
            <div ng-show="!finished">

                <h3>Time remaining: <span remaining-time="remainingTime"></span></h3>

                <div style="margin-top: 15px;">
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input id="amount" type="text" ng-model="bidAmount" class="form-control"
                               style="width: 150px;" placeholder="0">
                    </div>

                    <button ng-disabled="bidInProgress" type="submit" ng-click="placeBid()" class="btn btn-default">Submit</button>
                </div>

            </div>

            <div ng-show="finished">
                <h2 style="margin-top: 60px; text-align: center;">
                    <span style="margin-right: 5px;" class="glyphicon glyphicon-star"/>
                    <span>{{winner}} won!</span>
                </h2>
            </div>
        </div>
    </div>

</div>