<h1 class="page-header">Add lot</h1>

<form class="form-horizontal" name="lotForm" role="form" ng-submit="startAuction()">
    <div class="form-group">
        <label for="manufacturer" class="col-sm-1 control-label">Manufacturer:</label>

        <div class="col-sm-3">
            <select id="manufacturer" class="form-control" ng-model="manufacturer" ng-disabled="!manufacturerList"
                    ng-options="mn for mn in manufacturerList">
                <option value="">-- Select manufacturer --</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-show="manufacturer">
        <label for="model" class="col-sm-1 control-label">Model:</label>

        <div class="col-sm-3">
            <select id="model" class="form-control" ng-model="product" ng-disabled="!productList"
                    ng-options="k as v for (k, v) in productList">
                <option value="">-- Select model --</option>
            </select>
        </div>
    </div>

    <div class="form-group" ng-show="product">
        <label for="condition" class="col-sm-1 control-label">Condition:</label>

        <div class="col-sm-3">
            <select id="condition" class="form-control" ng-model="condition" ng-options="k as v for (k, v) in conditions">
                <option value="">-- Select condition --</option>

            </select>
        </div>
    </div>

    <div class="form-group" ng-show="condition">
        <label for="startingPrice" class="col-sm-1 control-label">Start Price:</label>

        <div class="col-sm-2">
            <input type="text" class="form-control" id="startingPrice" placeholder="Price"
                   ng-model="startingPrice">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" ng-disabled="!startingPrice || !product || !condition" class="btn btn-default">
                Start auction
            </button>
        </div>
    </div>
</form>

